* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
}

#container {
    background-image: url(img/f2.png);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#container h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 10%;

}

#container div {
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;

}

#hero {
    width: 100%;
    display: flex;
    background: white;
}

#hero .herosplit {
    width: 50%;
    height: 866px;
    display: flex;
    align-items: end;
}

#hero .pdtext {
    width: 80%;
    padding: 60px;
}

#hero .herosplit h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

#hero .herosplit p {
    font-size: 16px;
}

#hero .img {
    width: 50%;
    background-image: url(img/f3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 866px;
}

#hero .img1 {
    width: 50%;
    background-image: url(img/f4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 866px;
}

#hero .img2 {
    width: 50%;
    background-image: url(img/f1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 866px;
}

#hero .img3 {
    width: 50%;
    background-image: url(img/f5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 866px;
}

.pdtext h3 span {
    font-size: 16px;
    font-weight: 400;
}

@media (max-width:900px){
    #container{
        height: 40vh;
    }
    #container h1{
        font-size: 50px;
    }
    #container div {
        margin-top: 20px;
        font-size: 12px;
    }
    #hero .herosplit{
        height: 477px;
    }
    #hero .pdtext {
        width: 100%;
        padding: 20px;
    }
    #hero .herosplit h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    #hero .herosplit p {
        font-size: 14px;
    }
    #hero .img{
        height: 477px;
    }
    #hero .img1{
        height: 477px;
    }
    #hero .img2{
        height: 477px;
    }
    #hero .img3{
        height: 477px;
    }

}




@media (max-width:500px){
    #container{
        height: 40vh;
    }
    #container h1{
        font-size: 50px;
    }
    #container div {
        margin-top: 20px;
        font-size: 12px;
    }
    #hero{
        flex-direction: column;
    }
    #hero .herosplit{
        width: 100%;
        display: block;
        height: auto;
    }
    #hero .img{
        width: 100%;
        height: 528px;
    }
    #hero .pdtext{
        width: 100%;
        padding: 40px;
    }
   
    #hero .img1{
        width: 100%;
        height: 528px;
    }

   #hero.hero2{
        display: flex;
        flex-direction: column-reverse;
    }
    #hero .img2{
        width: 100%;
        height: 528px;
    }
    #hero .img3{
        width: 100%;
        height: 528px;
    }
}
